<div class="row align-self-center">
    <form #loginForm="ngForm">
        <div class="col col-md-4">
            <!-- Email input -->
            <div class="mb-4">
                <label class="form-label" for="username">User name :</label>
                <input type="username" name="username" class="form-control" [(ngModel)]="userName" required
                    minlength="5" maxlength="20" />
            </div>
        </div>

        <div class="col col-md-4">
            <!-- Password -->
            <div class="mb-4">
                <label class="form-label" for="password">Password :</label>
                <input type="password" name="password" class="form-control" required [(ngModel)]="password"
                    minlength="10" maxlength="64" />
            </div>
        </div>
    </form>
</div>

<!-- Submit button -->
<button type="button" class="btn btn-primary btn-block mb-4" [disabled]="!loginForm.valid" (click)="loginClick()">Sign
    in</button>

<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
   {{errorMessage}}
</div>

<!-- Register buttons -->